.search-form{
    display: flex;
    flex-direction: row;
}
.search-button{
    background-color: red;
    color: white;
    font: bold;
    font-size: 20px;
    width: 100px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
}

.search-input{
    font-size: 20px;
    margin: auto;
    padding-left: 10px;
    height: 50px;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
    border-right: 0;
}

@media screen and (max-width: 800px) {
    .search-input{
        width: 180px;
    }
    .search-btn{
        width: 75px;
    }
}